{erl_opts, [debug_info]}.
{
  deps, [
  {yyutils, {git, "https://github.com/yinye1024/yyutils.git", {branch, "main"}}},
  {pbwraper, {git, "https://github.com/yinye1024/pbwraper.git", {branch, "main"}}},
  {bson, {git, "https://github.com/comtihon/bson-erlang.git", {tag, "v0.2.3"}}},
  {pbkdf2, ".*",
    {git, "https://github.com/emqx/erlang-pbkdf2.git", {tag, "2.0.4"}}}
]

}.